[submodule "snet"]
	path = external/snet
	url = https://bitbucket.org/tianchaijz/snet-mess
[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "rapidjson"]
	path = external/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "hiredis"]
	path = external/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/gzstream"]
	path = external/gzstream
	url = https://bitbucket.org/tianchaijz/gzstream
	branch = master
